#firehydrantmap{
    height: 87vh;
    margin-top: 6%;
    width: 100%;
}

.container-hydrant{
    margin: 0;
    margin-top: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#hydrantSearchBox{
    margin-top: 2%;
    height: 4%;
    width: 50%;
    margin-bottom: 0;
}


.right-sidebar-hydrant{
    border-radius: 5px;
    margin: 0;
    margin-top: 6%;
    padding: 0;
    background-color: #f1f1f1;
    height: 87vh;
    box-shadow: 1px 1px 2px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 1;
    width: 20%;
    overflow-x: hidden;
    transition: 0.6s;
    z-index: 1;
    }
  
.hamburger-hydrant{
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    cursor: pointer;
}
  
  
.for-title-hydrant{
    align-self: center;
    margin-top: 20%;
    text-align: center;
    font-size: 22px;
    padding: 5px 5px;
}
  
  
.right-sidebar-hydrant .bottom-details-hydrant a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.179);
}
    
  
.right-sidebar-hydrant a:hover:not(.active) {
      background-color: #6c63ff;
      color: white;
      cursor: pointer;
    }
  

  
.hydrant-notif{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
  
.map-controls-hydrant{
    list-style-type: none;
    margin: 0;
     padding:0;
}

#hydrant_table{
    width: 100% !important;
  }
  
#hydrant_table_length, .dataTables_filter{
    margin-top: 2%;
    margin-bottom: 2%;
}

#hydrant_table thead tr th, #hydrant_table tbody td{
   text-align: center;
}


#hydrant_table #action_header{
    width: 70px !important;
}

#hydrant_table #long_header, #hydrant_table #lat_header{
    width: 0px !important;
    margin: 0;
} 

.editColHydrant, .deleteColHydrant {
cursor: pointer;
}

#sidebarHydrantBurger{
    display:none;
    align-self: flex-start;
    margin: 6% 1% 0 1%;
    background-color: #f1f1f1;
  }

  /* Modal styles */
.addFireHydrantModal .modal-body .row, 
.editFireHydrantModal .modal-body .row{
      margin-bottom: 3%;
      font-weight: bold;
}

.head-icon{
	margin-right: 3px;
}

#modal-head {
    background-repeat: no-repeat;
    background-size: 60% 150px;
	background-position: right;
    height: 150px;
}

.modal .modal-content {
	border-radius: 3px;
	font-size: 14px;
	padding: 20px 30px;
}

.modal .form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #dddddd;
}

.btn-cancel{
	background-color: white;
	border: solid #CDCDCD 2px;
	border-radius: 5px;
	width:100%;
	height: 40px;
	font-weight: bold;
}

.btn-cancel:hover{
	background-color: #e1e1e1;
}

.btn-add-hydrant, .btn-edit-hydrant{
	background-color: #6B66F5;
	border-radius: 5px;
	border: none;
	color: white;
	width:100%;
	height: 40px;
	font-weight: bold;
}

.btn-add-hydrant:hover, .btn-edit-hydrant:hover{
	color:#fff;
	background-color:#483dff;
	border-color:#3c30ff;
}

.addFireHydrantModal form input, .addFireHydrantModal form select, 
.editFireHydrantModal form input, .editFireHydrantModal form select{
	border-radius: 5px !important;
}

.addFireHydrantModal form input:focus, .addFireHydrantModal form select:focus,
.editFireHydrantModal form input:focus, .editFireHydrantModal form select:focus{
	box-shadow: none;
	outline: none;
	border: 2px solid #6c63ff;
}

.editFireHydrantModal .edit-hydrant-longlat{
    width: 100%;
}

.deleteHydrantModal .text-warning-title,
.deleteHydrantModal .text-warning{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.deleteHydrantModal #deleteHydrantBtn{
	width: 100%;
	border: none;
	height: 40px;
	border-radius: 5px;
}

#alertTable td {
    border: none;
  }