#firehydrantmap{
    height: 87vh;
    margin-top: 6%;
    width: 100%;
}

.container-hydrant{
    margin: 0;
    margin-top: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#hydrantSearchBox{
    margin-top: 2%;
    height: 4%;
    width: 50%;
    margin-bottom: 0;
}


.right-sidebar-hydrant{
    border-radius: 5px;
    margin: 0;
    margin-top: 6%;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    height: 87vh;
    box-shadow: 1px 1px 2px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 1;
    }
  
.hamburger-hydrant{
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
    margin-bottom: 5%;
     margin-right: 5%;
}
  
.search-bar-hydrant{
    padding-left: 3%;
    padding-right: 3%;
}
  
.for-title-hydrant{
    align-self: center;
    margin-top: 20%;
    text-align: center;
}
  
.for-title-hydrant h4{
    font-size: 22px;
}
  
  
.right-sidebar-hydrant .bottom-details-hydrant a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.179);
}
    
  
.right-sidebar-hydrant a:hover:not(.active) {
      background-color: #6c63ff;
      color: white;
      cursor: pointer;
    }
  

  
.hydrant-notif{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
  
.map-controls-hydrant{
    list-style-type: none;
    margin: 0;
     padding:0;
}

#hydrant_table{
    width: 100% !important;
  }
  
#hydrant_table_length, .dataTables_filter{
    margin-top: 2%;
    margin-bottom: 2%;
}

#hydrant_table thead tr th, #hydrant_table tbody td{
   text-align: center;
}


#hydrant_table tbody .odd td:nth-child(7), 
#hydrant_table tbody .even td:nth-child(7){
width: 75px !important;
}

#hydrant_table tbody .odd td:nth-child(1), 
#hydrant_table tbody .even td:nth-child(1){
width: 120px !important;
}

.editColHydrant, .deleteColHydrant {
cursor: pointer;
}