.btn-dropdown, .btn-search{
  color:#fff;
  background-color:#6c63ff;
  border-color:#6c63ff;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}

.btn-dropdown:hover, .btn-search:hover{
  color:#fff;
  background-color:#483dff;
  border-color:#3c30ff;
}




/* for screens smaller than 821px or has horizontal orientation*/
@media screen and (min-width: 0px){

#firelertmapmanagement{
    height: 85vh;
    width: 100%;
    flex-grow: 1;
}

.container{
    margin: 0;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right-sidebar{
  border-radius: 5px;
  margin: 0;
  padding: 0;
  width: 100%;
  flex-grow: 1; 
  height: 5vh;
  background-color: #f1f1f1;
  box-shadow: 1px 1px 2px grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  order: -1;
}

.copyright{
    align-self: flex-end;
    display: none;
}

.right-sidebar .bottom-details a {
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  
.right-sidebar a:hover:not(.active) {
  background-color: #6c63ff;
  color: white;
  cursor: pointer;
}

}

/* for screens wider than 821px or has vertical orientation*/
@media screen and (min-width: 821px){
  .container-firealert{
    margin-top: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    z-index: -1;
  }

  #alertSearchBox{
    margin-top: 2%;
    height: 4%;
    width: 50%;
    margin-bottom: 0;
  }

  #firelertmapmanagement{
    height: 87vh;
    width: 100%;
    margin-top: 6%;
  }

  .right-sidebar{
  border-radius: 5px;
  margin-top: 6%;
  padding: 0;
  background-color: #f1f1f1;
  height: 87vh;
  box-shadow: 1px 1px 2px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  order: 1;
  width: 0;
  overflow-x: hidden;
  transition: 0.6s;
  z-index: 1;
  }

  .hamburger{
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    cursor: pointer;
  }

  .for-title{
    align-self: center;
    margin-top: 20%;
    text-align: center;
    padding: 5px 5px;
    font-size: 22px;
  }


  .right-sidebar .bottom-details a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.179);
  }
  

  .right-sidebar a:hover:not(.active) {
    background-color: #6c63ff;
    color: white;
    cursor: pointer;
  }


  .alarm-notif{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }

  .map-controls{
    list-style-type: none;
    margin: 0;
    padding:0;
  }
}


/* table for fire alert management */

#alertTable{
  width: 100% !important;
}

#alertTable_length, .dataTables_filter{
  margin-top: 2%;
  margin-bottom: 2%;
}

#alertTable thead tr th, #alertTable tbody td{
  text-align: center;
}

#alertTable tbody .odd td:nth-child(1), 
#alertTable tbody .even td:nth-child(1){
width: 120px !important;
}

.editColAlert, .deleteColAlert {
  cursor: pointer;
}

.table-responsive {
  margin: 0;
}
.table-wrapper {
background: #fff;
padding: 20px 25px;
border-radius: 3px;
min-width: 1000px;
box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
padding-bottom: 15px;
background: #6B66F5;
color: #fff;
padding: 16px 30px;
min-width: 100%;
margin: -20px -25px 10px;
border-radius: 3px 3px 0 0;
}
.table-title h2 {
margin: 5px 0 0;
font-size: 24px;
}
.table-title .btn-group {
float: right;
}
.table-title .btn {
color: #fff;
float: right;
font-size: 13px;
border: none;
min-width: 100px;
border-radius: 2px;
border: none;
outline: none !important;
}
.table-title .btn i {
float: left;
font-size: 21px;
margin-right: 5px;
}
.table-title .btn span {
float: left;
margin-top: 2px;
}
table.table tr th, table.table tr td {
border-color: #e9e9e9;
padding: 0px 0px 0px 0px;
vertical-align: middle;
}

table.table tr th:last-child {
width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
background: #f5f5f5;
}
table.table th i {
font-size: 13px;
margin: 0 5px;
cursor: pointer;
}	
table.table td:last-child i {
opacity: 0.9;
font-size: 22px;
margin: 0 5px;
}
table.table td a {
font-weight: bold;
color: #566787;
display: inline-block;
text-decoration: none;
outline: none !important;
}
table.table td a:hover {
color: #2196F3;
}
table.table td a.edit {
color: #FFC107;
}
table.table td a.delete {
color: #F44336;
}
table.table td i {
font-size: 19px;
}
table.table .avatar {
border-radius: 50%;
vertical-align: middle;
margin-right: 10px;
}
.pagination {
float: right;
margin: 0 0 5px;
}
.pagination li a {
border: none;
font-size: 13px;
min-width: 30px;
min-height: 30px;
color: #999;
margin: 0 2px;
line-height: 30px;
border-radius: 2px !important;
text-align: center;
padding: 0 6px;
}
.pagination li a:hover {
color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
background: #03A9F4;
}
.pagination li.active a:hover {        
background: #0397d6;
}
.pagination li.disabled i {
color: #ccc;
}
.pagination li i {
font-size: 16px;
padding-top: 6px
}
.hint-text {
float: left;
margin-top: 10px;
font-size: 13px;
}    

/* Custom checkbox */

.custom-checkbox {
position: relative;
}
.custom-checkbox input[type="checkbox"] {    
opacity: 0;
position: absolute;
margin: 5px 0 0 3px;
z-index: 9;
}
.custom-checkbox label:before{
width: 18px;
height: 18px;
}
.custom-checkbox label:before {
content: '';
margin-right: 10px;
display: inline-block;
vertical-align: text-top;
background: white;
border: 1px solid #bbb;
border-radius: 2px;
box-sizing: border-box;
z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
content: '';
position: absolute;
left: 6px;
top: 3px;
width: 6px;
height: 11px;
border: solid #000;
border-width: 0 3px 3px 0;
transform: inherit;
z-index: 3;
transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
border-color: #03A9F4;
background: #03A9F4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
color: #b8b8b8;
cursor: auto;
box-shadow: none;
background: #ddd;
}

.nav_link, .nav_logo, #dropdown-user a, #dropdown-firealert a {
  text-decoration: none !important;
}

#dropdown-user a:hover, #dropdown-firealert a:hover {
color: white;
}
/* end of code for table fire alert management */

#sidebarAlertBurger{
  align-self: flex-start;
  margin: 6% 1% 0 1%;
  background-color: #f1f1f1;
}
