@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
#body{
    margin-top:20px;
    background-color:#f2f6fc;
    color:#69707a;
    margin:190px;
    }

.img-account-profile {
    /* width: 50%; */
    height: 10rem;
} 

#responsive-image {
  width: 100%;
  height: auto;
  max-width: 100%; /* Optional, to prevent images from scaling up beyond their original size */
}

.rounded-circle {
    border-radius: 50% !important;
}
    
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
    
.card .card-header {
    font-weight: 500;
    overflow: hidden;
}
    
#changePass{
  font-weight: 500;
}

.card-header:first-child {
     border-radius: 0.35rem 0.35rem 0 0;
}
    
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
    
.form-control, .dataTable-input {
    display: block;
     width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
    
.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}

.upload-area{
    text-align: center;
}
    
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav_link, .nav_logo {
    text-decoration: none !important;
    font-family: "Roboto" !important;
    font-weight: Normal !important;
    font-size: var(--normal-font-size);
}

#changePass label:hover{
    text-decoration: underline !important;
    cursor: pointer;
}

@media (max-width: 767px) {
    .body-editprofile {
      padding-top: 7%; } 
  
      .container-form{
        width: 100%;
      }
    }
  
  @media (min-width: 768px) {
    .body-editprofile {
      padding-top: 7%; } 
  
      .container-form{
        width: 60%;
      }
    }
  
  #edit-profile-title{
  font-weight: 700;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.66);
  
  }
  
  .form-inputs{
  font-weight: 300;
  font-size: 16px;
  background-color: #F9FBFC;
  color: #939393;
  border: 1px solid #939393;
  border-radius: 3px;
  }
  
  
  .btn-editprofile{
    color:#fff;
    background-color:#6c63ff;
    border-color:#6c63ff;
    border-radius: 5px;
    width: 30%;
    }
  
  .btn-editprofile:hover{
    color:#fff;
    background-color:#483dff;
    border-color:#3c30ff;
  }

  .btn-change-pass{
    background-color: #6B66F5;
    border-radius: 5px;
    border: none;
    color: white;
    width:100%;
    height: 40px;
    font-weight: bold;
  }
  
.btn-change-pass:hover{
    color:#fff;
    background-color:#483dff;
    border-color:#3c30ff;
  }
  
  .btn-editprofile.focus,.btn-editprofile:focus{
    -webkit-box-shadow:0 0 0 0.2rem rgba(130, 122, 255, 0.5);
    box-shadow:0 0 0 0.2rem rgba(130, 122, 255, 0.5)
  }