.container-alert{
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

#firealertmap{
    height: 100vh;
    width:100%;
    margin-right: 2%;
}

#searchAlertMap{
    margin-top: 6%;
    height: 4%;
    width: 50%;
    margin-bottom: 0;
}