#firehydrantmap{
    height: 100vh;
    margin-right: 2%;
}


@media screen and (min-width: 0px){
    #searchbox{
        margin-top: 18%;
        height: 4%;
        width: 50%;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 425px){
    #searchbox{
        margin-top: 14%;
        height: 4%;
        width: 50%;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 767px){
    #searchbox{
        margin-top: 11%;
        height: 4%;
        width: 50%;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 950px){
    #searchbox{
        margin-top: 8%;
        height: 4%;
        width: 50%;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1400px){
    #searchbox{
        margin-top: 6%;
        height: 4%;
        width: 50%;
        margin-bottom: 0;
    }
}