/* STARTING CODE FOR LOGIN PAGE */

#login-body {
    font-family: "Roboto", sans-serif;
    background-color: #f2f6fc; 
  }
  
#signin-info {
    color: #b3b3b3;
    font-weight: 300; 
  }

#signIn-title{
  font-family: "Roboto", sans-serif; 
} 

.forgot-pass {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
}
    
.forgot-pass:hover {
  text-decoration: none !important; 
  color: #888;
}
  
  
.content-login {
  padding: 7rem 0; 
}
  
  

@media (max-width: 1199.98px) {
     .contents {
        width: 100%; 
    } 
}

 .contents .form-group, .forgetPasswordArea .form-group, .content-login .bg .form-group {
    overflow: hidden;
    margin-bottom: 0;
    padding: 15px 15px;
    border-bottom: none;
    position: relative;
    background: #edf2f5;
    border-bottom: 1px solid #e6edf1; 
  }

.contents .form-group label, .forgetPasswordArea .form-group label, .content-login .bg .form-group label {
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
}

.contents .form-group input, .forgetPasswordArea .form-group input, .content-login .bg .form-group input {
  background: transparent; 
}

 .contents .form-group.first, .forgetPasswordArea .form-group.first, .content-login .bg .form-group.first {
      border-radius: 7px;
  }

  .contents .form-group.last, .content-login .bg .form-group.last {
      border-radius: 7px;
  }
      
  .contents .form-group label, .forgetPasswordArea .form-group label, .content-login .bg .form-group label {
    font-size: 12px;
    display: block;
    margin-bottom: 0;
    color: #b3b3b3; 
  }
      
  .contents .form-group.focus, .forgetPasswordArea .form-group.focus, .content-login .bg .form-group.focus {
      background: #fff; 
    }
  
  .contents .form-group.field--not-empty label, .forgetPasswordArea .form-group.field--not-empty label, .content-login .bg .form-group.field--not-empty label {
      margin-top: -20px; 
    }
    
  .contents .form-control, .forgetPasswordArea .form-control, .content-login .bg .form-control {
      border: none;
      padding: 0;
      font-size: 20px;
      border-radius: 0; 
  }
      
  .contents .form-control:active, .forgetPasswordArea .form-control:active, 
  .contents .form-control:focus, .forgetPasswordArea .form-control:focus,
  .content-login .bg .form-control:active, .content-login .bg .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; 
  }
  
.forgot-pass {
  color: #888;
  text-decoration: underline; 
  cursor: pointer;
}
  
.forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px; 
}

  #forgetPasswordSubmit{
    color:#fff;
    background-color:#6c63ff;
    border-color:#6c63ff;
    border-radius: 5px;
  }
  
  #forgetPasswordSubmit:hover{
    color:#fff;
    background-color:#483dff;
    border-color:#3c30ff;
  }
  
  #forgetPasswordSubmit.focus,#forgetPasswordSubmit:focus{
      -webkit-box-shadow:0 0 0 0.2rem rgba(130, 122, 255, 0.5);
      box-shadow:0 0 0 0.2rem rgba(130, 122, 255, 0.5)
  }
 

.btn-submit{
  color:#fff;
  background-color:#6c63ff;
  border-color:#6c63ff;
  border-radius: 5px;
}

.btn-submit:hover{
  color:#fff;
  background-color:#483dff;
  border-color:#3c30ff;
}

.btn-submit.focus,.btn-submit:focus{
    -webkit-box-shadow:0 0 0 0.2rem rgba(130, 122, 255, 0.5);
    box-shadow:0 0 0 0.2rem rgba(130, 122, 255, 0.5)
}

.btn-block{
    display:block;
    width:100%;
    height: 50px;
}

.fireTrackLogo{
  width: 50%;
  margin-bottom: 20px;
}


/* ENDING CODE FOR LOGIN PAGE */

/* START OF CODE FOR NAVLINK PILLS */
.card{
  width: 700px;
border: none;
padding-bottom: 30px;
}

.nav-pills > .nav-item > .active{
  background-color:#6c63ff !important;
    border-color:#6c63ff !important;
}


.nav-pills > .nav-item{
  background-color:#a29dfa !important;
    border-color:#a29dfa !important;
}

.nav-link{
  color: white;
}


.btr{
  border-top-right-radius: 5px !important;
}

.btl{
  border-top-left-radius: 5px !important;
}


.nav-pills{

  display:table !important;
  width:100%;
}

.nav-pills .nav-link {
    border-radius: 0px;
        border-bottom: 1px solid #0d6efd40;

}

.nav-item{
      display: table-cell;
       background: #0d6efd2e;
}

.form{
  padding: 10px;
  height: 300px;
}

.form input{

  margin-bottom: 12px;
  border-radius: 3px;
}


.form input:focus{

  box-shadow: none;
}


.form button{
  margin-top: 20px;
}
/* END CODE FOR NAVPILLS */



/* STARTING CODE FOR SIGN UP PAGE*/

@media (max-width: 1199.98px) {
  .signup-contents {
     width: 100%; 
 } 
}

.signup-contents .form-group, .content-login .bg .form-group {
  overflow: hidden;
  margin-bottom: 0;
  padding: 15px 15px;
  border-bottom: none;
  position: relative;
  background: #edf2f5;
  border-bottom: 1px solid #e6edf1; 
}

.signup-contents .form-group label, .content-login .bg .form-group label {
position: absolute;
top: 55%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
-webkit-transition: .3s all ease;
-o-transition: .3s all ease;
transition: .3s all ease; 
}

.signup-contents .form-group input, .content-login .bg .form-group input {
  background: transparent; 
}

.signup-contents .form-group.first, .content-login .bg .form-group.first {
    border-radius: 7px; 
}

.signup-contents .form-group.last, .content-login .bg .form-group.last {
    border-radius: 7px;
}
    
.signup-contents .form-group label, .content-login .bg .form-group label {
  font-size: 12px;
  display: block;
  margin-bottom: 0;
  color: #b3b3b3; 
  
}
    
.signup-contents .form-group.focus, .content-login .bg .form-group.focus {
    background: #fff; 
  }

.signup-contents .form-group.field--not-empty label, .content-login .bg .form-group.field--not-empty label {
    margin-top: -20px; 
  }
  
.signup-contents .form-control, .content-login .bg .form-control {
    border: none;
    padding: 0;
    font-size: 20px;
    border-radius: 0; 
}
    
.signup-contents .form-control:active, .content-login .bg .form-control:active 
/* , .signup-contents .form-control:focus */
 {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; 
}

.signup-contents .form-group.first, .content-login .bg .form-group.first {
  border-radius: 7px;
}

.signup-contents .form-group.last, .content-login .bg .form-group.last {
  border-radius: 7px;
}

.fireTrackFinal{
  width: 50%;
  margin-bottom: 20px;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px; }
  .control .caption {
    position: relative;
    top: .2rem;
    color: #888; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #6c63ff; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #847dff; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; }

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2; }

.btn-block-signup{
  display:block;
  width:100%;
  height: 50px;
}

.btn-signUp{
  color:#fff;
  background-color:#6c63ff;
  border-color:#6c63ff;
  border-radius: 5px;
  font-weight: bold;
}

.btn-signUp:hover{
  color:#fff;
  background-color:#483dff;
  border-color:#3c30ff;
}

.btn-signUp.focus,.btn-submit:focus{
  -webkit-box-shadow:0 0 0 0.2rem rgba(130, 122, 255, 0.5);
  box-shadow:0 0 0 0.2rem rgba(130, 122, 255, 0.5)
}

.genderArea{
  font-size: 18px;
}

#signUp-title{
  font-family: "Roboto", sans-serif; 
} 

#signup-info {
  color: #b3b3b3;
  font-weight: 300; }

/* ENDING CODE FOR SIGNUP PAGE */